* {
  font-family: "Gelasio";
}

.nav-link {
  color: black;
}

/*
#login {
  margin-left: 5%;
  margin-right: 5%;
}

#signup {
  margin-left: 5%;
  margin-right: 5%;
} */

.page-title {
  text-align: center;
  margin-bottom: 50px;
  color: white;
  background-color: #4e27b5;
  padding-top: 100px;
  padding-bottom: 100px;
}

h2 {
  text-align: center;
  color: #4e27b5;
}

.slogan {
  text-align: center;
}

section {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 70px;
  margin-bottom: 70 px;
}

.mission-p {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
