* {
    font-family: "Poppins";
}

:root {
    --accent-color: #4e27b5;
    --base-color: white;
    --text-color: black;
    --input-color: #e4e2fb;
}

* {
    margin: 0;
    padding: 0;
}

html {
    color: var(--text-color);
}

h1 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 600;
    color: var(--base-color);
    padding: 18vh 0 18vh 0;
    background-color: var(--accent-color);
}

h2 {
    text-align: center;
}

p {
    font-size: 1rem;
}

.title-p {
    margin: 5vh 0;
    text-align: center;

}

.wrapper {
    height: 80vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.first-part {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    float: right;
    clear: both;
}

.third-part {
    margin: 40px 0;
}

form label {
    font-weight: 200;
}

.name-adress-number {
    padding: 10px 0;
}


form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 30px;
    padding: 1em;
    font: inherit;
    border-radius: 5px 5px 5px 5px;
    background-color: var(--input-color);
    border: var(--input-color);
    transition: 200ms ease;
}

.label-attendee-info {
    padding: 0 20px;
}

