* {
    font-family: "Poppins";
}

h1 {
    text-align: center;
    color: white;
    padding: 20vh 0 20vh 0;
    background-color: #4e27b5;
}

.title-p {
    margin: 5vh 0;
    text-align: center;

}