* {
    font-family: "poppins";
}

.nav-link {
    color: black;
  }
 
  #login {
    background-color: white;
    color: #4e27b5;
    border-color: #4e27b5;
  }
  
  #signup {
    background-color: #4e27b5;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    background-color: #4e27b5;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /* h2 will be inside a section. section. all <p> inside the section under h2 will follow this class*/
  h2{
      color: #4e27b5;
    }
   
 .text-under-h2 {
    text-align: center;
  }

.nav-link {
  color: black;
}

.page-title {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    background-color: #4e27b5;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
 

.gallery-item {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .gallery-item img {
    margin-right: 2%;
    margin-left: 2%;
    width: 40%;
  }

  
  
       
  