* {
  font-family: "Poppins";
}

:root {
  --accent-color: #4e27b5;
  --base-color: white;
  --text-color: black;
  --input-color: white;

}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}

body {
  min-height: 100vh;
  background-image: url(../images/background1.jpeg);
  background-size: cover;
  background-position: right;
  overflow: hidden;

}

.wrapper {
  background-color: var(--base-color);
  height: 65vh;
  width: max(50%, 600px);
  padding:10px;
  border-radius: 0 5px 5px 0;


}